*{
    margin: 0;
    padding: 0;
}

body {
    top: 0px;
    left: 0px; 
}

#title {
    font-family: 'Lobster';
    font-weight: 400;
    font-size: 60px;
    font-stretch: 1.4;
    letter-spacing: 0px;
    color: #F7F0F0;
    text-shadow: 0px 3px 6px #636363;
    opacity: 1;
}

.container-externo {
    background: #731AB7 0% 0% no-repeat padding-box;
    max-width: 1920px;
    max-height: 1080px;
    border: 1px solid #707070;
    opacity: 1;
    color: #F7F0F0;
}

.container-interno {
    margin-left: 15%;
    margin-right: 15%;
    max-width: 1172px;
    height: 100%;
    background: #5B0993;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
}

.cabecalho {
    max-height: 20%;
    width: 100%;
    display: block;
    text-align: center;
}

.logoHacker {
    padding-top: 10px;
    max-width: 80px;
    width: 100%;
}

.inputs {
    max-width: 50%;
    max-height: 71px;
    background: none;
    border-radius: 10px;
    color: #F7F0F0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

.labels {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 13px;
    
}

.h3, .h4 {
    padding-bottom: 10px;
    font-family: 'Lobster', cursive;
    letter-spacing: 0px;
    text-shadow: 0px 3px 6px #636363;
    opacity: 1;
}

.qtds {
    text-align: center;
    width: 100%;
    height: auto;
}

.beers{
    text-align: center;
}

#acomp {
    padding-left: 5%;
}

#botaoCalcular {
    color: #5B0993;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.resultados {
    border-radius: 10px;
    background: #707070;

}

.h5 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 10px;
}